/* Configutação do cabeçalho */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

img.toplogo{
    height: 25px;
    border:0px;
}

button.top{
    text-align: center;
    border-radius: 5px;
    background-color: rgb(43, 92, 226);
    width: 130px;
    height: 40px;
    color: white;
}

.menu{
    text-align: center;
    border-radius: 5px;
    background-color: rgb(43, 92, 226);
    height: 40px;
    padding: 0px 15px;
    color: white;
}

.menu:hover{
    background-color: rgb(35, 114, 35);
}

button.top:hover{
    background-color: rgb(35, 114, 35);
}

a.botaocabecalho{
    text-decoration: none;
    color: aliceblue;    
}

/* configuração conteúdo do portfolio - apresentação */
div.corpoforaap{
    background-color: rgb(173, 39, 39);
    height: 50vh;
}

div.corpoap{
    width: 75%;
    padding-top: 5px;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.apinicial{
    border-radius: 10px;
    background-color: #e6effc;
    margin: 15px 0px;
    text-align: center;
}

.aptitulo{
    color: #4e4e4e;
}

.apresentacao{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #444444;
}

p.apdescricao{
    color: #4e4e4e;
}

.apservicos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.job{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #e6effc;
    width: 25%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    height: 320px;
}

img.servicoimg{
    height: 10vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 1vw 0px;
}

h4.jobtitulo{
    padding: 1vw 0px;
}

/* espaço em branco */

div.espaco{
    height: 25vh;
    background-color: white;
}

/* configuração conteúdo do portfolio - trabalhos realizados */

div.corpoforatrab{
    background-color: rgb(12, 109, 33);
    height: 55vh;
}

.corpotrab{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: 85vh;
}

.apresentacaotrab{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.trabservicos{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: space-around;
    height: 100%;
}

.trab{
    background-color: #e6effc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    text-align: center;
}

.trab2{
    flex-direction: row-reverse;
}

.trab4{
    flex-direction: row-reverse;
}



img.trabimg{
    height: 15vh;
    border-radius: 5px;
}


/* configuração do rodapé */

footer{
    height: 25vh;
}
