header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

img.toplogo{
    height: 25px;
    border:0px;
}

div.botaotop{
    text-align: center;
    border-radius: 5px;
    background-color: rgb(43, 92, 226);
    width: 130px;
    height: 40px;

}

div.botaotop:hover{
    background-color: rgb(35, 114, 35);
}

a.botaocabecalho{
    text-decoration: none;
    color: aliceblue;
}

.apresentacao{
    text-align: center;
    color: #444444;
}

h4.apresentacao{
    font-size: 1,5vw;
}

p.ola{
    text-align: center;
}

p.descricao{
    text-align: center;
    color: #6e6e6e;
    font-size: 1,5vw 1,5hw;
}

div.job{
    display: inline;
    border-radius: 10px;
    background-color: #e6effc;
    width: 25%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    height: 320px;
}

#site{
    position: absolute;
    left: 1%;
}

#seo{
    position: absolute;
    left: 40%;
}

#front{
    position: absolute;
    right: 1%;
}

img.servicoimg{
    height: 10vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5px;
}