body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}

#main-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

#top-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 30px;
}

.green-background {
    background-color: green;
    flex: 1;
    padding: 10px;
}

.yellow-background {
    background-color: rgb(209, 209, 9);
    flex: 3;
    padding: 10px;
}

.pink-background {
    background-color: fuchsia;
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#middle-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 2;
}

#content2{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blank{
    flex: 1;
}

#vertical-middle-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

#image{
    flex: 1;
    height: 100%;
}

#extra{
    flex: 1;
    height: 100%;
}

.blue-background {
    background-color: blue;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-background {
    background-color: red;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.lightgreen-background {
    background-color: lightgreen;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.purple-background {
    background-color: purple;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
} 